@media screen and (max-width: 1000px) and (min-width: 400px){
    .nave_links ul li {
       
    }

    .nave_links ul li{
        display: flex;
        gap: 2.5rem;
        margin-left:-40rem;
        justify-content: center;
        margin-top: 2rem;
        position: relative;
    }
    
    .abt h1{
        text-align: center;
        margin-left: 38rem;
        position: relative;
    }
    .abtpa{
        text-align: left;
      margin-left: 33rem;
       position: relative;
        width: 50rem;
    }
    .intro .name {
        margin-left: 2rem;
    }
    .intro .name #hi{
        font-size: 2.5rem;

    }
    .intro .name #count{
        font-size: 2.5rem;
    }
    .intro .img1 img{
        margin-top: 5rem;
        position: absolute;
        margin-left: 35rem;

    }
    .sk h1{
        margin-top:17rem;
        padding-top: 6rem;
    }

    .skil{
        position: relative;
    }

    .cont{
        justify-content: center;
        margin-left: 30rem;
        position:absolute;
    }
    .cont #para p{
        justify-content: none;
        text-align: left;
    }
    .abt h1{
        padding-top: 10rem;
    }
  
    .about {
        padding-top: 10rem;

    }
    
   

    }
    
